<section class='single-post-section'>
    <div class='single-post'>
        <div>
            <h1> <%= @post.title%> by <%= @post.author.name %></h1>
            <p><%= @post.text %></p>
        </div>
        <div class='stats'>
            <p> comments: <%= @post.comments_counter %></p>
            <p>likes: <%= @post.likes_counter %></p>
        </div>
    </div>
  <div class='comments'> 
     <% @post.recent_comments.each do |comment| %>
      <div >
        <p><%= comment.author.name %>: <span><%= comment.text %></span></p>
      </div>
<% end %>
  </div>
  
</section>